In [226]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [227]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [228]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [229]:
#testing
from sqlalchemy import inspect
inspector = inspect(engine)
print(inspector.get_table_names())
print(inspector.get_columns('Measurement'))
print(inspector.get_columns('Station'))

['measurement', 'station']
[{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]
[{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'latitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'longitude', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'elevation', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

## D1: Determine the Summary Statistics for June

In [230]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

result=[]
result = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [231]:
#  3. Convert the June temperatures to a list.
june_temp = list(np.ravel(result))

In [232]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df=pd.DataFrame(june_temp)

In [233]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [234]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
result=[]
result = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [235]:
# 7. Convert the December temperatures to a list.
dec_temp = list(np.ravel(result))

In [236]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df=pd.DataFrame(dec_temp)

In [237]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D3: Additional Queries

In [238]:
# Look at precipitation in June

result=[]
result = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()
jun_prcp = list(np.ravel(result))
df=pd.DataFrame(jun_prcp)
df.describe()

                 0
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [239]:
# Look at precipitation in December

result=[]
result = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
dec_prcp = list(np.ravel(result))
df=pd.DataFrame(dec_prcp)
df.describe()

                 0
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000